# Secrets and environment variables
.env
*.env
deepseek-api.txt
github-personal-access-token.txt
token
tokens
token.txt
tokens.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

.claude
docs
logs
ref
BenchmarkInfo.md

datasets/